ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-top: 12px;
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  width: 32%;
}
